.icon_view {
	background-image:url('../images/details_icon.png');
	background-repeat:no-repeat;
	height:16px;
	width:16px;
	border:none;
	background-color:transparent;
	cursor:pointer;
}
.icon_notes {
	background-image:url('../images/notes_icon.png');
	background-repeat:no-repeat;
	height:16px;
	width:16px;
	border:none;
	background-color:transparent;
	cursor:pointer;
}
.dialog > textarea {
	width:400px;
	height:150px;
	resize:none;
}
.dialog input[type=text] {
	width:125px;
}
.results {
	min-height:75px;
}
div#users-contain table {
	width:98%;
	margin-top:0px;
}
div#center-sales-contain table {
	width:100%;
	margin-top:0px;
}